@font-face {
    font-family: 'Alibaba PuHuiTi B';
    src: url('Alibaba-PuHuiTi-B.woff2') format('woff2'),
        url('Alibaba-PuHuiTi-B.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

